
body{ background-color: rgba(47, 32, 79, 0.63);
}
h4{text-decoration: underline;
  color: rgb(0, 0, 36);
  font-family: Impact, sans-serif;
  text-align: center;
font-size: 250%;}
h1{
  text-decoration: initial;
  font-family: Impact, sans-serif;
  text-align: center;
  font-size: 350%;
}
p{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgba(0, 0, 53, 0.616);
	font-weight: bold;
  text-align: left;
}
li{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgba(0, 0, 53, 0.616);
	font-weight: bold;
	font-size: 12;
}
h2{
  text-decoration: underline;
  color: rgba(101, 3, 52, 0.799);
  font-family: Impact, sans-serif;
  text-align: center;
font-size: 250%;
}
img{ 
border-radius: 5%;
}
iframe {
  width: 40%;
  border-radius: 10%;
  align-items: flex-start;
} 
text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
	color: rgb(0, 0, 36);
	font-weight: bold;
  text-align: center;
  font-size: 150%;
}
h5{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
	color: rgb(0, 0, 36);
	font-weight: bold;
  text-align: center;
  font-size: 300%;
  align-items: center;
}